.cbm-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.cbm-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.cbm-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.cbm-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.cbm-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
}

.cbm-nav-spacer {
    flex: 1 1 auto;
}