<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{block "title" .}}CloudBM{{end}}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/static/lib/materialize-1.1.0/css/materialize.min.css">
        <link rel="stylesheet" href="/static/css/user.css">
    </head>
    <body>
        <header>
            <div class="nav-fixed">
                <nav class="nav-extended">
                    <div class="nav-wrapper">
                      <a href="#" class="brand-logo">CloudBM</a>
                      <a href="#" data-target="sidebar-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                      <ul class="right hide-on-med-and-down">
                        <li><a>A link</a></li>
                        <li><a>A second link</a></li>
                        <li><a>A third link</a></li>
                      </ul>
                    </div>
                    <div class="nav-content">
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                  </nav>
            </div>
        </header>

        <ul id="sidebar-desktop" class="sidenav sidenav-fixed">
            <li><a class="subheader">Always out except on mobile</a></li>
            <li><a href="https://github.com/dogfalo/materialize/" target="_blank">Github</a></li>
            <li><a href="https://twitter.com/MaterializeCSS" target="_blank">Twitter</a></li>
            <li><a href="http://next.materializecss.com/getting-started.html" target="_blank">Docs</a></li>
        </ul>
        <ul id="sidebar-mobile" class="sidenav">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>

        <main>
            <div class="container">
                {{block "content" .}}
                <p>Under construction</p>
                {{end}}
            </div>
        </main>

        <script src="/static/lib/jquery-3.6.0/js/jquery.min.js"></script>
        <script src="/static/lib/materialize-1.1.0/js/materialize.min.js"></script>
        <script src="/static/js/user.js"></script>
    </body>
</html>